:root {
  --orange: #e07a5f;
  --gray: #81b29a;
  --yellow: #f2cc8f;
  --cream: #f4f1de;
  --noir: #3d405b;
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--noir);
  font-family: "Poppins", sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 2rem;
    margin: 0 0;
    background: var(--cream);
}

.logo {
  color: #e07a5f;
  font-weight: 700;
  font-size: 28px;
}

.navbar {
  display: flex;
  gap: 2rem;
}

.navbar a {
  text-decoration: none;
  position: relative;
  color: #3d405b;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #e07a5f;
}

.btn {
  color: #ffffff;
  background-color: #e07a5f;
  border-radius: 20px;
  border: none;
  padding: 0.8rem 3rem;
  cursor: pointer;
  transition: transform 0.3s;
  margin-right: 4rem;
}

.btn:hover {
  transform: translateY(-5px);
}

.navbar a::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0%;
  height: 1px;
  background-color: #e07a5f;
  transition: width 0.2s ease-in-out;
}

.navbar a:hover::after {
  width: 100%;
}

/* section */
.content > img {
  height: 350px;
  position: relative;
  top: 4.5rem;
}

.container {
  max-height: 100vh;
  padding: 8rem 5% 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 4rem;
  padding-top: 0;
  background: var(--cream);
  height: 100vh;
  box-sizing: content-box;
}

.title {
  color: #3d405b;
  font-weight: 800;
  font-size: 4rem;
  margin-bottom: 0;
  line-height: 1;
}

.description {
  color: #3d405b;
  font-size: 20px;
  margin-bottom: 2rem;
}

/*section 2 */
.second {
  text-align: center;
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.sectionbutton {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.choice {
  background-color: white;
  border: solid 2px var(--orange);
  color: var(--orange);
}
/* menu */
.menu-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 2rem;
  margin: 5rem 0;
  padding: 0 5rem;
}

.menu-card {
  background: white;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);
  transition: transform(00.3s);
}

.menu-card:hover {
  transform: translateY(-10px);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

.menu-card h3 {
  margin-bottom: 0;
}

.menu-card img {
  height: 200px;
  margin: 0;
}

.menu-card .fries {
  width: 314px;
}

.menu-card-content {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
  padding: 1.5rem;
}

.descri {
  color: var(--noir);
  font-size: 1rem;
  margin-bottom: 1rem;
}

.price {
  font-size: 1.2rem;
  color: var(--orange);
  font-weight: 700;
}

/* why Us */

.whyUs {
  background-color: var(--gray);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3rem;
  padding: 4rem;
  margin: 6rem 0;
  text-align: center;
}

.whyUs i {
  color: var(--yellow);
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whyUs .first {
  color: white;
  font-size: 17px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.whyUs .firstQuality {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qualiy {
  background: solid 2px rgba(255, 255, 255, 0.1);
  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.2);
}

/*feedback*/
.customer h1 {
  color: #3d405b;
  text-align: center;
}

.customer .pdp {
  height: 70px;
  width: 70px;
  border-radius: 50%;
}

.commentaire {
  background: var(--cream);
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 1.5rem 4rem 5rem;
  padding: 2rem 0;
}

.name {
  color: #3d405b;
  font-weight: 700;
  font-size: 21px;
  margin-bottom: 0;
}

/*footer*/
footer {
  background: var(--noir);
  padding: 40px 20px;
  color: var(--cream);
  font-family: "Poppins", sans-serif;
}

footer .grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  text-align: center;
  gap: 2rem;
}

.footTitle {
  color: var(--orange);
  font-weight: 600;
  margin-bottom: 10px;
}

.descriFoot {
  color: var(--cream);
  font-size: 14px;
  line-height: 1.6;
}

footer ul {
  padding: 0;
  list-style: none;
}

footer ul li {
  margin-bottom: 10px;
}

footer ul li a {
  color: var(--cream);
  text-decoration: none;
  font-size: 14px;
}

footer ul li a:hover {
  color: var(--orange);
}

footer hr {
  border: none;
  height: 1px;
  background-color: #ffffff50;
  margin: 30px auto;
  width: 80%;
}

.icon {
  text-align: center;
  font-size: 24px;
  margin: 20px 0;
}

.icon i {
  color: white;
  margin: 0 10px;
  cursor: pointer;
  transition: color 0.3s;
}

.icon i:hover {
  color: var(--orange);
}

.security {
  text-align: center;
  font-size: 13px;
  color: #ccc;
  margin-top: 10px;
}
